meta_fields:
    profile:
        first_name:
            required: true
        last_name:
            required: true
        organisation:
            required: true
        organisation_url:
            required: false
        profession:
            required: true
        website:
            required: false
        twitter_handle:
            required: false
        biography:
            required: false
        address_street:
            required: false
        address_street_meta:
            required: false
        address_city:
            required: false
        address_state:
            required: false
        address_country:
            required: false
        phone_number:
            required: false
